@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'roboto';
  font-weight: 300;
}
a{
  text-decoration: none;
}
/* container */
.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 40px;
}
.df{
  display: flex;
}
/* wrapp */
.wrapp{
  width: 100%;
  min-height: 100vh;
  background: #fff;
}
/* icons */
*::before,
*::after{
  font-family: 'icons';
}
.icon-chewron::before{
  font-weight: 900;
  font-size: 28px;
  content: '\f0dd';
  color: #ff5816;
  margin-left: 10px;
  position: absolute;
  top: 1px;
}
.icon-search::before{
  opacity: 0.7;
  content: '\f158';
  font-weight: 300;
  border-radius: 50px;
  font-size: 22px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
.icon-store{
  width: 26px;
  height: 22px;
}
.icon-arrow::before{
  content: '\f021';
  font-size: 12px;
  color: #499c54;
  font-weight: 300;
}
svg{
  height: 25px;
  width: 25px;
}
/* banner */
.banner{
  width: 100%;
  min-height: 40px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.banner ul li a{
  font-weight: 300;
  color: #fff;
  display: flex;
}
.banner ul li{
  display: flex;
  align-items: center;
  font-size: 14px;
}
/* navbar */
.navbar{
  margin-top: 15px;
}
/* navbar top */
.navbar-top{
  width: 100%;
  margin-bottom: 45px;
}
.login{
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
.login a{
  border-bottom: 1px solid blue;
  margin-right: 5px;
}
.login div:first-child a{
  border-bottom: 1px dashed blue;
}
.navbar-top_main{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.logo{
  font-size: 46px;
  font-weight: 100;
  color: #151d1d;
}
.logo-orange{
  font-weight: 300;
  color: #ff5816;
  background: url(../images/logoBG.png) center center no-repeat;
}
.logo-des{
  font-size: 11.5px;
  opacity: 0.7;
}
.nav-contacts{
  display: flex;
}
.nav-message_contact{
  width: 100px;
  height: 60px;
  border: 3px solid #dbdee6;
  border-radius: 6px;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 15px;
}
.nav-message_contact::before{
  content: '';
  width: 10px;
  height: 30px;
  position: absolute;
  outline: 3px solid #dbdee6;
  background: #fff;
  right: -5px;
  z-index: 1;
  transform: rotate(20deg);
}
.nav-message_contact a{
  font-size: 12px;
  text-align: center;
  background: #fff;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.icons-nev-p{
  display: flex;
  align-items: center;
}
.contact{
  font-weight: 500;
  color: #000 ;
}
.email{
  color: #4673ab;
  border-bottom: 1px solid #4673ab;
}
.nav-search-des{
  display: flex;
  align-items: center;
}
.nav-search_icon{
  margin-right: 10px;
}
.nav-search_text{
  text-transform: uppercase;
  font-family: 'roboto';
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}
.nav-search_text p:first-child{
  color: #ff5816;
  font-weight: 400;
}
.search{
  width: 250px;
  height: 30px;
  margin-top: 10px;
  background: #eff0f4;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.search input{
  border: none;
  background: transparent;
  height: 30px;
  width: 180px; 
  padding-left: 15px;
  outline:none;
}
.search button{
  height: 25px;
  width: 65px;
  border: none;
  color: #fff;
  background: #ff5816;
  border-radius: 2px;
  font-weight: 300;
  cursor: pointer;
}
.nav-store{
  width: 195px;
  height: 52px;
  background: url(../images/storeBG.png) center center no-repeat;
}
.nav-store p{
  font-weight: 500;
}
.store span{
  color: blue;
  border-bottom: 1px solid blue;
}
.store{
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  gap: 15px;
}
.store-like{
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 12px;
}
.store-like p{
  border-bottom: 1px dashed #4673ab;
  font-weight: 300;
}
.like{
  font-size: 12px;
  color: #c6517a;
}
/* navbar-bottom */
.navbar-bottom{
  height: 48px;
  background: #ff5816;
  border-radius: 6px;
  padding: 0;
}
.navbar-bottom .container{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 12px;
  height: 100%;
  padding: 0px !important;
}
.navbar-bottom ul li{
  color: #fff;
  height: 100%;
  padding-top: 10px;
  width: 106.5px;
  border-bottom: 3px solid #c44411;
  transition: 0.3s;
}
.navbar-bottom ul li:hover{
  border-bottom: none;
  background: #ff743d;
}
.navbar-bottom ul li:hover:last-child{
  border-bottom: 3px solid #c44411;
  background: #d94206;
}
.navbar-bottom ul li:first-child{
  border-radius: 0 0 0 6px;
  padding-left: 5px;
}
.navbar-bottom ul li:last-child{
  overflow: hidden;
  width: 12px;
  padding-top: 15px;
  background: #d94206;
  border-radius: 0 6px 6px 0;
}
.navbar-bottom ul li a{
  color: #fff;
}
.big-txt{
  width: 180px !important;
}
/* main */
.main-title{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.main-title h3{
  font-weight: 500;
  font-size: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0;
  margin-right: 15px;
  min-width: 260px !important;
}
.main-title p{
  font-style: italic;
  max-width: 845px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3e5eb;
  font-size: 16px;
  border-radius: 6px;
  padding: 0 15px;
}
.main-title p span{
  font-weight: 500;  
}
/* main slider */
.main-content{
  display: flex;
  justify-content: space-between;
}
.main-content_banner{
  max-width: 845px;
  width: 100%;
}
.slider{
  max-width: 845px;
  height: 368px;
  background: #fff;
  position: relative;
  right: 0;
  margin: 30px auto;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
}
.slider-list{
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-list__item{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  padding-top: 50px;
  padding-left: 80px;
  font-size: 70px;
  background: url(../images/sliderBgr.png) center center no-repeat;
}
.slider-list__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-controller{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
}
.slider-controller__btn{
  width: 80px;
  border: none;
  outline: none;
  font-size: 70px;
  cursor: pointer;
  transition: text-shadow 0.3s;
}
.slider-controller__btn:hover{
  text-shadow: 0 0 20px #ffffff;
}
.prev,
.prevGlobl{
  color: #ff5816;
  background: transparent;
}
.next,
.nextGlobl{
  color: #ff5816;
  background: transparent;
}
.slider-dots{
  position: absolute;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  bottom: 0px;
  right: 0;
}
.slider-dots li {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}
.slider-dots li.active{
  width: 15px;
  height: 15px;
  background: #ff5816;
}
.slider-title{
  height: 80%;
}
.slider-title h3:first-child{
  color: #ff5816;
  font-size: 31px;
  font-weight: 500;
}
.slider-title h3{
  font-size: 31px;
  font-weight: 300;
}
.slider-title h4{
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}
.slider-title ul{
  margin-top: 40px;
  margin-bottom: 40px;
}
.slider-title ul li{
  font-size: 13px;
  list-style: inside;
  margin-bottom: 5px;
  margin-top: 10px;
}
.slider-title button{
  border: none;
  padding: 8px 28px;
  border-radius: 6px;
  background: #fff;
  border-bottom: 3px solid #c4c4c4;
  font-size: 15px;
  font-weight: 500;
  color: #4673ab;
}
.padding-slid_btn{
  padding: 0 10px;
}
.slider-controller button:first-child{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 6;
}
.slider-controller button:last-child{
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 6;
}
.main-content_list{
  width: 260px;
  height: 368px;
  margin-top: 30px;  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-list_card{
  width: 260px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.5);
}
.card-img{
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background: url(../images/Rounded\ Rectangle\ 3-3.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.card-img p{
  font-size: 20px;
  font-weight: 500;
  color: #ff5816;
  position: absolute;
  padding: 0 9px;
  border-radius: 3px;
  background: #fff;
  bottom: -10px;
}
.card-img span{
  font-size: 13px;
  position: absolute;
  bottom: -20px;
}
.card-title{
  width: 180px;
  min-height: 10px;
}
.card-title a{
  font-size: 13px;
  font-weight: 500;
  color: #4673ab;
}
.card-title a:hover{
  color: #ff5816;
  text-decoration: underline;
}
.card-title p{
  font-size: 13px;
  
}
.all-teg_a{
  text-decoration: underline !important;
  color: #4673ab;
  font-size: 13px;
}
/* product slide */
.novelty-title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 35px;
  color: #000;
}
.novelty-title div{
  width: 100%;
  height: 1px;
  margin: 0 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.novelty-title h3{
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
.novelty-title a{
  min-width: 115px;
  text-align: center;
  /* margin-left: 20px; */
}
.product{
  max-width: 1140px;
  width: 100%;
  min-height: 520px;
  background: #fff;
  position: relative;
  right: 0;
  margin: 30px auto;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
}
.product_list{
  width: 100%;
  height: 100%;
  position: relative;
}
.product-item{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-top: 3px;
  padding-right: 80px;
  padding-bottom: 10px;
  background: #fff;
}
.product-item_cart{
  width: 233px;
  height: 388px;
  border: 1px solid #dbdee6;
  border-radius: 6px;
  position: relative;
  padding: 0 10px;
  transition: 0.4s;
}
.product-item_cart:hover{
  border: 1px solid #ff5e1e;
}
.product-item_cart::before{
  font-family: 'roboto';
  content: '';
  position: absolute;
  left: 10px;
  top: 30px;
  width: 0px;
  height: 0px;
  border-top: 12px solid #42c16c;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
}
.product-item_cart::after{
  font-family: 'roboto';
  content: 'NEW';
  font-size: 12px;
  font-weight: 500;
  width: 34px;
  height: 33px;
  display: flex;
  border-radius: 1px 1px 0 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: -3px;
  background: #42c16c;
}
.product-item_cart img{
  width: 100%;
  height: 255px;
  border-radius: 6px;
}
.product-item_cart a.item-cart_title{
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
}
.product-item_cart a.item-cart_title:hover{
  color: #ff5e1e;
}
.product-item_cart p{
  font-size: 13px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.product-item_cart .price{
  font-size: 16px;
  font-weight: 500;
}
.product-item_cart .sell{
  color: #ff6326;
  text-decoration: line-through;
}
img.basket-buy{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.btn-buy {
  padding: 6px 16px;
  border-radius: 6px;
  border: none;
  background: #ff5e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  border-bottom: 3px solid #c44817;
  transition: 0.4s;
}
.btn-buy:hover {
  background: #4673ab;
  border-bottom: 3px solid #365884;
}
.buy-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-sell_slid{
  padding: 0;
}
.cart-sell_slid img{
  width: 100%;
  height: 123px;
  border-radius: 0;
}
.cart-sell_slid::before,
.cart-sell_slid::after{
  content: '';
  width: 0;
  height: 0;
  border: none;
}
.cart-sell_slid a:first-child{
  padding: 0 20px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0;
}
.cart-sell_slid p{
  font-size: 13px;
  padding: 0 20px;
  margin-bottom: 18px;
}
.block_numlock{
  width: 100%;
  height: 65px;
  background: #dbdee6;
  display: flex;
  align-items: center;

}
.block_numlock-num{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6d6f73;
  margin-left: 5px;
  height: 100%;
  width: 50%;
}
.block_numlock p{
  width: 80px;
  font-weight: 400;
  margin-right: 10px;
}
.day,
.hours,
.minut{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.day-num span,
.hours-num span,
.minut-num span{
  display: inline-flex;
  align-items: center;
  padding: 3px 3px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
  background: #000;
  color: #d4d4d4;
  margin-bottom: 5px;
  position: relative;
}
.day-num span::before,
.hours-num span::before,
.minut-num span::before{
  position: absolute;
  content: '';
  width: 1px;
  height: 1px;
  left: 5px;
  background: #b6b6b6;
}
.day-num span::after,
.hours-num span::before,
.minut-num span::before{
  position: absolute;
  content: '';
  width: 1px;
  height: 1px;
  right: 5px;
  background: #b6b6b6;
}
.day-num p,
.hours-num p,
.minut-num p{
  display: inline;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  color: #000;
}
.day-desc,
.hours-desc,
.minut-desc{
  font-size: 11px;
  color: #7f8686;
}
.cart-sell_slid a:last-child{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.live-buy{
  justify-content: center;
}
.live-buy_cart{
  width: 300px;
  height: 300px;
  padding: 0 15px ;
}
.live-buy_cart img{
  height: 230px;
  width: 100%;
}
.live-buy_cart a{
  font-size: 16px;
  font-weight: 500;
}
.brends{
  display: flex;
  justify-content: space-between;
}
.brend{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.brend,
.brend img{
  width: 110px;
  /* height: 40px; */
}
.info-block{
  background: #e3e5eb;
  border-radius: 6px;
  padding: 40px 30px;

}
.info-block_center{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.info-block_cart{
  width: 25%;
  height: 100%;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info-block_cart div{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.info-block_cart img{
  width: 70px;
  height: 60px;
}
.info-block_cart:nth-last-of-type(1) img{
  width: 90px;
  height: 60px;
}
.info-block_cart p{
  font-weight: 500;

}
.about{
  display: flex;
  justify-content: space-between;
  align-items: flex-start ;
}
.about-problem,
.about-verefy{
  max-width: 555px;
  width: 100%;
  height: 427px;
  border: 2px solid #f6bdbf;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.about-verefy{
  border: 2px solid #9bd1a6;
  margin-left: 5px;
}
.about-problem{
  border: 2px solid #9bd1a6;
  margin-right: 5px;
}
.about-title{
  width: 100%;
  min-height: 73px;
  background: #cb0b13;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 30px;
  margin-bottom: 5px;
}
.about-verefy .about-title{
  width: 100%;
  min-height: 73px;
  background: #16a333;
}
.about-desc{
  min-height: 120px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
.about-desc ul{
  height: 100%;
}
.about-title p{
  width: 416px;
  font-size: 15px;
  font-weight: 500;
}
.about-title span{
  font-size: 60px;
  margin-right: 10px;
}
.about-verefy .about-title span{
  font-size: 45px;
}
.about-desc ul li{
  list-style: inside;
  color: #cb0b13;
  margin-bottom: 10px;
}
.about-desc ul p{
  color: #000;
  display: inline;
  font-size: 15px;
  line-height: 25px;
}
.about-desc ul p span{
  font-weight: 500;
}
.about-verefy .about-desc ul li{
  list-style: inside;
  color: #16a333;
  margin-bottom: 10px;
}
.about-verefy .about-desc ul p{
  line-height: 22px;
}
.info-block_num div{
  width: 150px;
  height: 150px;
  border: 1px solid #dbdee6;
  border-radius: 150px;
}
.info-block_num div p{
  font-size: 80px;
  font-weight: 600;
  color: #ff5816;
}
.info-block_centerNums{
  align-items: flex-start;
}
.work{
  margin-bottom: 40px;
  border-bottom: 1px solid #dbdee6;
}
.work-desc{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 80px;
}
.work-method{
  display: flex;
  min-height: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.work-method p{
  display: flex;
  font-size: 15px;
  font-weight: 600;
  margin-right: 30px;
}
.work-method button{
  margin-left: 5px;
  margin-top: 5px;
  padding: 13px 25px;
  border-radius: 6px;
  border: none;
  text-align: center;
}
.work-method button p{
  font-size: 15px;
  font-weight: 600;
  color: #ff5816;
  text-align: center;
  border-bottom: 1px dashed #ff5816;
  margin-right: 0;
}
.work-desc_cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
.work-desc_cart__icon{
  min-width: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}
.work-desc_cart__icon img{
  width: 32px;
  height: 32px;
}
.work-desc_cart__text{
  width: 100%;
  max-width: 190px;
}
.work-desc_cart__text span{
  font-weight: 600;
}
.work-desc p{
  font-size: 45px;
  color: #e0e2e9;
} 
.work-desc_cart__text p{
  width: 100%;
  font-size: 13px;
  color: #000;
}
.text{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.text p{
  font-size: 15px;
  line-height: 25px;
  width: 48%;
}
.text a{
  text-decoration: underline;
  color: #ff5816;
}
footer{
  background: #5c7489;
  color: #fff;
}
.footer-center{
  padding-top: 30px;
}
.footer-center .main-logo a{
  text-decoration: none;
}
.footer-city a,
.footer-menu a{
  font-size: 13px;
  text-decoration: underline;
  color: #fff;
}
.footer-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.footer-city p{
  font-size: 13px;
  line-height: 20px;
}
.footer-center p,
.footer-center .email,
.footer-center .contact{
  color: #fff;
}
.logo-block_des{
  font-size: 13px;
  margin-top: 25px;
}
.footer-end{
  height: 75px;
  background: #2c3f53;
}
.footer-end_center{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer-end_center p{
  width: 100%;
  max-width: 830px;
  font-size: 13px;
}
.footer-end_center img{
  width: 90px;
  height: 30px;
}
.main-content_list{
  margin-right: 15px;
}
.d-non{
  display: none;
}
.d-non a{
  color: #527cb1;
}
.navbar_top-570{
  display: none;
}

@media (max-width: 1200px){
  .banner ul li a{
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 992px){
  .novelty-title .all-teg_a{
    display: none;
  }
  .product-item_cart-dnon4 {
    display: none;
  }
  /* .cart-sell_slid:first-child{
    display: none;
  } */
  .nav-search{
    display: none;
  }
  .banner ul{
    display: none;
  }
  .banner{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .banner::after{
    content: 'Меню';
    color: #fff;
    font-family: 'roboto';
  }
  .banner::before{
    content: '\f0c9';
    font-size: 20px;
    color: #d94206;
    font-weight: 300;
    margin-right: 5px;
  }
  .navbar-bottom{
    display: none;
  }
  .b6,
  .b7,
  .b8,
  .b9{
    display: none;
  }
  .about{
    justify-content: space-around;
  }
  .about-problem,
  .about-verefy{
    width: 345px;
    max-height: 500px;
  }
  .about-desc ul li{
    font-size: 15px;
    line-height: 0px;
    margin: 0px;
  }
  .info-block_cart.info-block_num:last-of-type{
    display: none;
  }
  .i-num_non5,
  .i-num_non6{
    display: none;
  }
  .work-desc_cart{
    flex-direction: column;
  }
  .novelty-title{
    position: relative;
    z-index: 1;
  }
  .slider-controller button:first-child{
    position: absolute;
    background: #fff;
    width: 25px;
    height: 25px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    z-index: 6;
    font-size: 40px;
    right: 0;
    top: 52px;
    outline: 1px solid #dbdee6;
    border-radius: 200px;
  }
  .nextGlobl{
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px !important;
    margin-left: 30px;
    display: flex;
    align-items: center !important;
    justify-content: center;
    z-index: 6;
    font-size: 40px;
    top: 52px;
    outline: 1px solid #dbdee6;
    border-radius: 100%;
  }
  .slider-controller button:first-child:hover,
  .nextGlobl:hover{
    outline: 2px solid #ff5e1e;
  }
  .novelty-title h3::after{
    content: '>';
    font-size: 30px;
    font-family: 'roboto';
    margin-left: 5px;
    font-weight: 500;
    color: #4673ab;
  }
  .d-non{
    display: flex;
  }
  .n980-non{
    display: none;
  }
  .firs-controls-prev{
    position: absolute !important;
    height: 100% !important;
    width: 80px !important;
    display: flex !important;
    align-items: center !important;
    z-index: 6 !important;
    left: 0 !important;
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 70px !important;
    left: 10px !important;
    top: 0 !important;
    outline: none !important;
    border-radius: 0px !important;
  }
  .firs-controls-next{
    position: absolute !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    z-index: 6;
  }
  .slider-title{
    height: 100%;
    align-items: center;
  }
  .slider-title h3{
    width: 100%;
    font-size: 18px !important;
  }
  .slider-title h4{
    width: 100%;
    font-size: 11px;
  }
  .slider-title ul{
    height: 100%;
    width: 100%;
    margin-top: 0;
  }
  .slider-title ul li{
    font-size: 10px;
  }

}
@media (max-width: 768px){
  .product-item{
    justify-content: center;
  }
  .product-item_cart-dnon3,
  .product-item_cart-dnon2{
    display: none;
  }
  .nav-message_contact{
    display: none;
  }
}
@media (max-width: 662px){
  .nav-store .store-like,
  .store-text{
    display: none;
  }
  .nav-store{
    width: 52px;
    background: #fff;
  }
  .navbar_top-570{
    display: flex;
  }
  .navbar-top_main-first,
  .main{
    display: none;
  }
  .info-block_center{
    align-items: start;
  }
  .info-block_centerNums{
    display: none;
  }
  .live-buy_title,
  .live-buy,
  .brends-title,
  .brends,
  .info-block,
  .info-block_title,
  .aboutTitle,
  .about,
  .info-block_center-title,
  .footer-city,
  .footer-menu,
  .footer-end_center p{
    display: none !important;
  }
  .footer-end_center{
    justify-content: center;
  }
  .work-desc_cart__text p{
    font-size: 10px;
  }
}
@media (max-width: 480px){
  .work-desc{
    min-height: 10px;
    flex-wrap: wrap;
  }
  .work-desc_cart{
    flex-direction: row !important;
    width: 30%;
    font-size: 12px;
  }
  .work-desc p{
    font-size: 30px;
  }
  .work-desc_cart__text p{
    font-size: 10px;
  }
  .footer-center .nav-contact-block p{
    display: none ;
  }
  .footer .navbar-top_main{
    display: flex;
    justify-content: space-between;
  }
  .footer .nav-contacts,
  .footer .nav-contact-block{
    width: 117px !important;
  }
  .main-logo{
    width: 220px;
  }
  .nav-contact-block a.contact{
    font-size: 14px;
  }
}
